.searchContainer {
  padding: 5% 3% 5% 3%;
  background-color: #EDEDED;
  font-family: 'Work Sans', sans-serif;
}

.searchResults {
  display: flex;
  flex-wrap: wrap;
}

.leftColumn {
  width: 80%;
}

.rightColumn {
  width: 20%;
  float: right;
  margin-left: 0;
}

.mainSearchBar {
  margin-top: 2%;
  border: solid black 2px;
  padding: 10px 20px;
  width: 40%;
  font-size: large;
}

.searchBar {
  width: 50%;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  outline: none;
  padding-left: 10px;
}

.searchLogo {
  width: 20px;
  height: 20px;
}

.inputIcons {
  display: inline-block;
  background-color: white;
  margin-bottom: 20px;
  padding: 15px 10px;
  border-radius: 10px;
}

.inputIcons:hover {
  box-shadow: 1px 1px 5px 1px;
}

.submitBtn {
  display: none;
}

.checkbox {
  display: block;
  margin-bottom: 5px;
}

.loadMore {
  text-align: center;
  width: 100%;
}

.loadButton {
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 50px;
  color: white;
  font-size: x-large;
}

.loadButton:hover {
  background-color: #319fc2;
  cursor: pointer;
}

.accordion {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.accordion__item + .accordion__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__button {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: auto;
  text-align: left;
  border: none;
}

.accordion__button:hover {
  background-color: #319fc2;
}

.accordion__button:before {
  display: inline-block;
  content: '';
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
  transform: rotate(45deg);
}

[hidden] {
  display: none;
}

.accordion__panel {
  padding: 10px;
  animation: fadein 0.35s ease-in;
  background-color: white;
  font-size: 18px;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .mainSearchBar {
    width: 50%;
  }
  .leftColumn {
    width: 75%;
  }
  .rightColumn {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .searchContainer {
    padding-left: 8%;
    padding-right: 8%;
  }
  .leftColumn,
  .rightColumn {
    float: none;
    width: 100%;
  }
  .inputIcons {
    width: 96%;
  }
  .accordion__panel {
    display: flex;
  }
  .checkboxColumn, .species-type {
    width: 50%;
  }
  .rightColumn {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 600px) {
  .searchContainer {
    padding-left: 20%;
    padding-right: 20%;
  }
  .accordion__panel {
    display: block;
  }
  .checkboxColumn, .species-type {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .searchContainer {
    padding-left: 10%;
    padding-right: 10%;
  }
  .searchBar {
    width: 80%;
  }
  .mainSearchBar {
    margin-top: 5%;
    width: 80vw;
  }
}

@media screen and (max-width: 320px) {
  .mainSearchBar {
    width: 70vw;
  }
}
