.searchContainer {
  padding: 5% 3% 5% 3%;
  background-color: #EDEDED;
}

.searchResults {
  display: flex;
  flex-wrap: wrap;
}

.leftColumn {
  width: 80%;
}

.rightColumn {
  width: 18vw;
  float: right;
  margin-left: 0;
}

.mainSearchBar {
  margin-top: 2%;
  border: solid black 2px;
  padding: 5px 10px;
  width: 20vw;
  font-size: large;
}

.searchBar {
  margin-bottom: 20px;
  padding: 5px 10px;
  width: -webkit-fill-available;
  border-radius: 5px;
  border: none;
}

.submitBtn {
  display: none;
}

.checkbox {
  display: block;
}

.loadMore {
  text-align: center;
  width: 100%;
}

.loadButton {
  background-color: #2C5E1A;
  border: none;
  border-radius: 5px;
  padding: 10px 50px;
  color: white;
  font-size: x-large;
}

.loadButton:hover {
  background-color: #319fc2;
  cursor: pointer;
}

.accordion {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.accordion__item + .accordion__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__button {
  background-color: #2C5E1A;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: auto;
  text-align: left;
  border: none;
}

.accordion__button:hover {
  background-color: #319fc2;
}

.accordion__button:before {
  display: inline-block;
  content: '';
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
  transform: rotate(45deg);
}

[hidden] {
  display: none;
}

.accordion__panel {
  padding: 20px;
  animation: fadein 0.35s ease-in;
  background-color: #B2D2A4;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .tagButton {
    font-size: 90%;
  }
}

@media screen and (max-width: 768px) {
  .leftColumn,
  .rightColumn {
    float: none;
    width: 100%;
  }
  .searchBar {
    width: 50%;
  }
}

@media screen and (max-width: 425px) {
  .searchBar {
    width: 100%;
  }
}
