.profilePage {
    background-color: #EDEDED;
    height: 100%;
    padding: 2%;
}

.profileHeader {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../assets/images/amazon.jpg") no-repeat;
    background-size: cover;
    color: white;
}

.profileContainer {
    display: flex;
    background-color: white;
    padding: 3%;
    font-family: 'Work Sans', sans-serif;
}

.profile {
    padding-left: 3%;
    height: 100%;
}

.pageHeader {
    margin: 0;
    font-style: italic;
    color: #2C5E1A;
}

.indent {
    width: 18vw;
    display: inline-block;
}

.productContainer {
    display: flex;
}

.productNames {
    display: inline-block;
    text-decoration: underline;
    margin-right: 10px;
    margin-bottom: 0;
}

.imageContainer {
    float: left;
    width: 40vw;
}
