.searchCard {
  background: white;
  padding: 2%;
  border-radius: 10px;
  width: 19vw;
  margin-right: 3%;
  margin-bottom: 3%;
  display: block;
}

.cardHeader {
  color: #2C5E1A;
  width: fit-content;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  font-style: italic;
}

.cardHeader:hover, .tagLabel {
  color: #319FC2;
}

.subtitle, .productsUses {
  color: rgb(79, 79, 79);
}

.productsUses {
  margin-bottom: 2px;
}

.tagLabel {
  display: inline-block;
  margin: 0 10px 5px 0;
  text-decoration: underline;
}

.imageSize {
  width: 10%;
  height: 10%;
}

a {
  text-decoration: none;
}
