.imageContainer {
  height: 100%;
}

.enlargedImageContainer {
  background-color: #bbbbbb;
  display: flex;
  align-items: center;
}

.enlargedImage {
  width: 40vw;
}

.tabImage {
  width: 30%;
  margin-top: 2%;
}

@media screen and (max-width: 600px) {
  .enlargedImage {
    width: 100%;
  }
}
