.carouselContainer {
  width: 96vw;
}

.carouselCard {
  padding-top: 3vh;
  width: 400;
}

.carouselCard:hover {
  background-color: #319fc2;
}

.carouselImage {
  height: 180px;
  width: 15vw;
  object-fit: cover;
}

.carouselCaption {
  text-decoration: none;
  color: white;
  margin: 1vh 0 3vh 0;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}


@media screen and (max-width: 1024px) {
  .carouselImage {
    width: 18vw;
    height: 160px
  }
}

@media screen and (max-width: 768px) {
  .carousel {
    width: 80vw;
  }
  .carouselImage {
    width: 23vw;
  }
}

@media screen and (max-width: 600px) {
  .carouselImage {
    width: 30vw;
  }
}

@media screen and (max-width: 480px) {
  .carousel {
    height: 40vh;
  }
  .carouselImage {
    height: 30vh;
    width: 45vw;
  }
  .header {
    padding: 20px 0;
  }
}

@media screen and (max-width: 375px) {
  .carouselImage {
    height: 30vh;
    width: 60vw;
  }
}
