.carouselContainer {
  width: 96vw;
}

.carouselCard {
  padding-top: 3vh;
}

.carouselCard:hover {
  background-color: #319fc2;
}

.carouselImage {
  height: 20vh;
  width: 15vw;
  object-fit: cover;
}

.carouselCaption {
  text-decoration: none;
  color: white;
  margin: 1vh 0 3vh 0;
  text-align: center;
}


@media screen and (max-width: 768px) {
  .carousel {
    width: 80vw;
  }
}

@media screen and (max-width: 425px) {
  .carousel {
    height: 40vh;
  }
  .carouselImage {
    height: 40vh;
  }
  .header {
    padding: 8vh 10vw;
  }
  .hero {
    height: 80vh;
  }
}
